__pycache__/
*.pyc
.venv/
*.db
*.log
UT_Data/
docs/ImageComparator/
docs/dir_creator.py
docs/sample.py
docs/アトラス報告書.xlsx
集計表/
build/
dist/
*.spec
icon/
.claude/
docs/Module1.txt
docs/解析結果一覧表_連続_想定.xlsx
